<!-- Main content-->
<section class="content" ng-controller="dashboardCtrl">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-network"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">Ceph Status</h3>
                        <a href="#" class="btn btn-xs damian">start</a>
                    </div>
                </div>
                <hr>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->
